*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    box-sizing: content-box;
    font-family:Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: norse;
    src: url(assets/Norse-Bold.otf);
}

:root{
    --theme-color: #596D48;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left{
    width: 40%;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 414px;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    font-family: norse;
    font-size: 4rem;
    position: absolute;
    top: 100px;
    z-index: 1;
}
.bg-img{
    display: flex;
    height: 100vh;
}
.bg-img>img{
    width: 414px; 
}
.credit{
    position: absolute;
    bottom: 20px;
    left: 112px;
    z-index: 1;    
    color: white;
    font-size: 0.8rem;
    font-weight: 50;
}
.credit>p>a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 60%;
    height: 100%;
    padding: 0 48px 0 48px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 32px;
    font-weight: 600;
    font-size: 1.1rem;
}
span{
    font-style: italic;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
h3{
    font-weight: 550;
}
.form-div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
input{
    width: 190px;
}
.row{
    display: flex;
    width: 450px;
    justify-content: space-between;
}
.entry{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: x-small;
    font-weight: 570;
    letter-spacing: 1px;
}
button{
    width: 135px;
    height: 30px;
    background-color: var(--theme-color);
    color: white;
    border-style: none;
    border-radius: 5px;;
}
.login-text{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.login-text>p>a{
    text-decoration: none;
    color: var(--theme-color);
}